<div class="with-bg-size" style="position:fixed; top:0px; left:0px; z-index:900; width:100%; overflow-y:hidden; overflow-x:hidden; margin:auto;">

<div class="logo-image">
	<div id="logo">
		<img src="/assets/white_logo.png" alt="Roadmojo" />
	</div>

</div>	

<div class="homebanner-text">
	<p>
		Your Global Roadtripping Platform 
	</p>
</div>

<div class="homelogin">
	<p id="email">
		Enter your email and we'll put you on our invite list. Initial users get their choice of username!
	</p>
	<form accept-charset="UTF-8" action="/email" class="new_post" id="new_post" method="post">
		<input class="home-input-text-2" id="sign-up-email" name="email[email]" placeholder="Email ID" type="text">
		<input class="btn" type="submit" value="GO!">
	</form>
</div>
<div class= "message">
	<p id = "postscript">
		PS: We hate spam as much as you do. Your email will be safe with us.
	</p>
</div>

</div>

