<div class="with-bg-size" style="position:fixed; top:0px; left:0px; z-index:900; width:100%; overflow-y:hidden; overflow-x:hidden; margin:auto;">

<div class="logo-image">
	<div id="logo">
		<img src="../assets/white_logo.png" alt="Roadmojo" />
	</div>

</div>	

<div class="homebanner-text">
	<p>
		Global Platform for Roadtrips and Roadtrippers
	</p>
</div>


<div class= "message">
	<p id = "thanks">
		THANK YOU TRAVELLER!
	</p>
</div>

</div>


