body 
{
	height:100%; 
	overflow:scroll;
}


.with-bg-size
{
    background-image: image-url("mojo.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.logo-image
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 85px;
	margin-bottom: 50px;
}

#logo
{
	margin-left: 130px;	
	height: 30px;
	width:200px;	
}

img
{
	height:100%;
	width: 100%;
}

.homebanner-text 
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 85px;
	margin-bottom: 10px;
	color: #ffffff;
	text-align: center;
	font-family: Proxima Nova Regular;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #0b141e;
	line-height: 50px;
}

.homelogin {
	width: 750px;
	background-image: image-url("homelogin.jpg");
	background-repeat: repeat;
	background-position: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: black 1px solid;
}

#email
{
	color: #ffffff;
	text-align: center;
	font-family: Proxima Nova Regular;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom:5px;
}

.home-input-text-2{

	width: 640px;
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;

	vertical-align: middle;
	
}

.btn{

	height: 32px;
	width: 60px;
	border: #009966;	
	margin-left:8px;	
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: white;
	vertical-align: middle;
	font-weight: bold;
	background-color: #009966;
	font-family: Proxima Nova Regular;
	
}

#postscript
{
	color: #ffffff;
	text-align: center;
	font-family: Proxima Nova Regular;
	font-size: 18px;
	
}

#thanks
{
	color: #ffffff;
	text-align: center;
	font-family: Proxima Nova Regular;
	font-size: 25px;
	
}
